<div class="row row-cols-1 row-cols-md-3 g-4" id="cards">
    <div class="col"   >
        <div class="card h-100">
          <img src="../../../assets/images/Biryani.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div style="display: flex;justify-content: space-between;">
                <h5>#orderid:1008</h5>
                <h5>COST:300</h5>
             </div>
            <h5 class="card-title">Biryani</h5>
            
            <div class="quan">
            <button (click)="increase()" >+</button>
          {{value}}
          <button (click)="decrease()">-</button>
          </div>
            <p class="card-text"></p>
            <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
          
          </div>
        </div>
      </div>
    
    <div class="col" >
        <div class="card h-100">
          <img src="../../../assets/images/roti.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div style="display: flex;justify-content: space-between;">
                <h5>#orderid:1008</h5>
                <h5>COST:300</h5>
             </div>
            <h5 class="card-title">Roti</h5>
            <div class="quan">
            <button (click)="increase1()">+</button>
            {{value1}}
            <button (click)="decrease1()">-</button>
        </div>
            <p class="card-text"></p>
            <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
        </div>
        </div>
      </div>
    <div class="col" >
      <div class="card h-100">
        <img src="../../../assets/images/fish.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div style="display: flex;justify-content: space-between;">
                <h5>#orderid:1008</h5>
                <h5>COST:300</h5>
             </div>
          <h5 class="card-title">Fish</h5>
          <div class="quan">
          <button (click)="increase2()">+</button>
          {{value2}}
          <button (click)="decrease2()">-</button>
        </div>
          <p class="card-text"></p>
          <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
        </div>
      </div>
    </div>
    <div class="col"  >
      <div class="card h-100">
        <img src="../../../assets/images/kabab.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div style="display: flex;justify-content: space-between;">
                <h5>#orderid:1008</h5>
                <h5>COST:300</h5>
             </div>
          <h5 class="card-title">kabab</h5>
          <div class="quan">
          <button (click)="increase3()">+</button>
          {{value3}}
          <button (click)="decrease3()">-</button>
        </div>
          <p class="card-text"></p>
          <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
         
        </div>
      </div>
    </div>
    <div class="col"  >
        <div class="card h-100">
          <img src="../../../assets/images/paneer.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div style="display: flex;justify-content: space-between;">
                <h5>#orderid:1008</h5>
                <h5>COST:300</h5>
             </div>
            <h5 class="card-title">Paneer</h5>
            <div class="quan">
            <button (click)="increase4()">+</button>
          {{value4}}
          <button (click)="decrease4()">-</button>
          </div>
           <p class="card-text"></p>
           <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
        </div>
        </div>
      </div>
      <div class="col"   >
        <div class="card h-100">
          <img src="../../../assets/images/prawns.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div style="display: flex;justify-content: space-between;">
                <h5>#orderid:1008</h5>
                <h5>COST:300</h5>
             </div>
            <h5 class="card-title">Prawns</h5>
            <div class="quan">
            <button (click)="increase5()">+</button>
          {{value5}}
          <button (click)="decrease5()">-</button>
            </div>
            <p class="card-text"></p>
            <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
        </div>
        </div>
      </div>
      <div class="col"   >
        <div class="card h-100">
          <img src="../../../assets/images/prawns.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div style="display: flex;justify-content: space-between;">
                <h5>#orderid:1008</h5>
                <h5>COST:300</h5>
             </div>
            <h5 class="card-title">PrawnsBiryani</h5>
            <div class="quan">
            <button (click)="increase6()">+</button>
          {{value6}}
          <button (click)="decrease6()">-</button>
        </div>
            <p class="card-text"></p>
            <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
           
        </div>
        </div>
      </div>
      <div class="col"   >
        <div class="card h-100">
          <img src="../../../assets/images/prawns.png" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h6 class="fs-6">          </h6> -->
         <div style="display: flex;justify-content: space-between;">
            <h5>#orderid:1008</h5>
            <h5>COST:300</h5>
         </div>
            <h5 class="card-title">Crab</h5>
            <div class="quan">
            <button (click)="increase7()">+</button>
          {{value7}}
          <button (click)="decrease7()">-</button>
            </div>
            <p class="card-text"></p>
            <BUTTON class="btn btn-primary" style="margin-left: 70px;">Add to Cart</BUTTON>
           
        </div>
        </div>
      </div>

  </div>